<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
  </head>
  <script type="text/javascript">
    window.mouseCat = {};
    window.mouseCat.highscores = [];
  </script>
  <body id='background'>
    <h1>Mouse Cat</h1>
    <div class="container">
      <div class='game-container' >
        <canvas id="canvas">
        </canvas>
      </div>

      <div class="stats-container">
        <h2>All Time Stats:</h2>
        <p><%= "Games Played: " + @games.to_s %></p>
        <p><%= "Cheeses Eaten: " + @cheeses.to_s %></p>
        <h2>All Time High Score:</h2>
        <p><%= @alltime[:username] + ": " + @alltime[:score].to_s %></p>
        <h2>Today's High Scores:</h2>
        <% @highscores.each_with_index do |highscore, idx| %>
        <script type="text/javascript">
          window.mouseCat.highscores.push(<%= highscore[:score] %>)
        </script>
        <p><%= (idx + 1).to_s + ") " + highscore[:username] + ": " + highscore[:score].to_s %></p>
        <% end %>
      </div>
      <div id="submitmodal" hidden>
        <form class="submitform" id='submitform' action= "<%= scores_url %>" method="post">
          <h2 id='score'></h2>
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="score[score]" id='scoreInput'>
          <input type="text" id='submitname' name="score[username]"
                  value="" placeholder="Type your name to submit score..."
                  maxlength="14">
          <br>
          <input type="submit" id='playagain' value="PLAY AGAIN">
        </form>
      </div>
  </div>
  </body>

  <%= javascript_include_tag 'application'  %>

</html>
